django>=1.5.4

# Additional requirements go here
Pillow==2.2.1

# django apps
django-crispy-forms==1.4.0
django-stored-messages==0.1.2
django-money-rates==0.2.1

pytz

# Use django-money master zip because the pypi version do not install
https://github.com/jakewins/django-money/archive/master.zip