<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bazaar{% endblock %}</title>

    {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 65px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
            }
        </style>
    {% endblock stylesheets %}
</head>
<body>

{% block navigation %}
    {% include "navbar.html" %}
{% endblock navigation %}

{% block content %}
    <h1>Bazaar Base</h1>
{% endblock content %}

{% block javascript %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>

    <script>
        // Django csrf through XHR
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
{% endblock javascript %}
</body>
</html>