{% load i18n %}
{% load stored_messages_tags %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "bazaar:home" %}">{% block navbar-brand %}{% trans "Bazaar" %}{% endblock navbar-brand %}</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% block navbar-elements %}
                {% url "bazaar:product-list" as products %}
                <li class="{% ifequal request.path products %}active{% endifequal %}">
                    <a href="{{ products }}">{% trans "Products" %}</a>
                </li>

                {% url "bazaar:listings-list" as listings %}
                <li class="{% ifequal request.path listings %}active{% endifequal %}">
                    <a href="{{ listings }}">{% trans "Listings" %}</a>
                </li>
            {% endblock navbar-elements %}

            {% if user.is_authenticated %}
                {% block navbar-messages %}
                    {% stored_messages_count as message_count %}
                    <li>
                        <a href="{% url "bazaar:messages" %}">
                            {% trans "Messages" %}
                            {% if message_count > 0 %} <span class="badge"><small>{{ message_count }}</small></span>{% endif %}
                        </a>
                    </li>
                {% endblock navbar-messages %}
                <li><a href="{% url "bazaar:logout" %}">{% trans "Log out" %}</a></li>
            {% else %}
                <li><a href="{% url "bazaar:login" %}">{% trans "Log in" %}</a></li>
            {% endif %}
        </ul>
    </div><!--/.nav-collapse -->
</div>