{% load i18n %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "bazaar:home" %}">{% block navbar-brand %}{% trans "Bazaar" %}{% endblock navbar-brand %}</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% block navbar-elements %}
                {% url "bazaar:product-list" as products %}
                <li class="{% ifequal request.path products %}active{% endifequal %}">
                    <a href="{{ products }}">{% trans "Products" %}</a>
                </li>
            {% endblock navbar-elements %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url "bazaar:login" %}">{% trans "Log in" %}</a></li>
            {% else %}
                <li><a href="{% url "bazaar:logout" %}">{% trans "Log out" %}</a></li>
            {% endif %}
        </ul>
    </div><!--/.nav-collapse -->
</div>