{% extends "bazaar/goods/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if product %}
                <h1>{% trans "Update a Composite Product" %}</h1>
            {% else %}
                <h1>{% trans "Create a Composite Product" %}</h1>
            {% endif %}

            <form method="POST" action="." class="form-horizontal">
                {% csrf_token %}
                {% crispy form %}
                {% for form in formset.forms %}
                    <fieldset class="formset dynamic-form">
                        <div class="col-md-8 col-md-offset-3 linea"></div>
                        {% crispy form %}
                        {{ form.id }}
                        {{ form.DELETE }}
                    </fieldset>
                {% endfor %}
                {{ formset.management_form }}
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-3">
                        <a class="btn btn-default" href="/products/"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back</a>&nbsp;
                        <input type="submit" name="save" value="Submit" class="btn btn-primary" id="submit-id-save">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {%  block select2 %} <!-- dont load select2 --> {% endblock %}
    <script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.formset').formset({
            addCssClass: 'btn btn-success add-row'
        });
    </script>
    {% include 'autocomplete_light/static.html' %}
{% endblock javascript %}