{% load i18n %}

<tr>
    {% block photo_column %}
            <td>{% if product.photo %}<i class="glyphicon glyphicon-camera"></i>{% endif %}</td>
    {% endblock %}

    {% block name_column %}
        <td>
            <a href="{% url 'bazaar:product-detail' product.id %}">{{ product.name }}</a>
        </td>
    {% endblock %}

    {% block ean_column %}
        <td>
        {% if product.ean %}
            {{ product.ean }}
        {% else %}
            --
        {% endif %}
        </td>
    {% endblock %}

    {% block sku_column %}
        <td>
        {% if product.sku %}
            {{ product.sku }}
        {% else %}
            --
        {% endif %}
        </td>
    {% endblock %}

    {% block stock_column %}
        <td>
        {% if product.stock != None %}
            {{ product.stock|floatformat }}
        {% else %}
            --
        {% endif %}
        </td>
    {% endblock %}

    {% block purchase_price_column %}
        <td>
        {% if product.purchase_price != None %}
            {{ product.purchase_price|floatformat:2 }} &euro;
        {% else %}
            --
        {% endif %}
        </td>
    {% endblock %}

    {% block purchase_price %}
    <td>
        {{ product.price.amount|floatformat:2 }} &euro;
    </td>
    {% endblock %}
</tr>