{% extends "bazaar/goods/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load bazaar_list %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <form id="productsForm" method="post">
                {% csrf_token %}

                {% if product_list %}
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th><a href="?{{ query_filter.urlencode }}&{{ sort_fields.name.query }}">{% trans "Name" %} {% sort_direction sort_fields.name %}</a></th>
                        <th>{% trans "EAN" %}</th>
                        <th>{% trans "SKU" %}</th>
                        <th><a href="?{{ query_filter.urlencode }}&{{ sort_fields.stock.query }}">{% trans "Stock" %} {% sort_direction sort_fields.stock %}</a></th>
                        <th><a href="?{{ query_filter.urlencode }}&{{ sort_fields.purchase_price.query }}">{% trans "Cost" %} {% sort_direction sort_fields.purchase_price %}</th>
                        <th><a href="?{{ query_filter.urlencode }}&{{ sort_fields.price.query }}">{% trans "Price" %} {% sort_direction sort_fields.price %}</a></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in product_list %}
                        {% include "bazaar/goods/product_list_element.html" %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h2>{% trans 'No products found' %}</h2>
                {% endif %}
            </form>

            <p>{% blocktrans with products_count=paginator.count %}There are {{ products_count }} products{% endblocktrans %}</p>

        {% include "bazaar/paginator.html" %}
        </div>
        <div class="col-md-2">
            {% block filter_column %}
            <div class="row margin-bottom-15">
                <form method="get">
                <div class="col-md-12">
                    <a href="{% url "bazaar:product-create" %}" class="btn btn-lg btn-primary">{% trans "Create" %}</a>
                    {% block product_actions %}
                    {% endblock %}
                </div>
                <div class="col-md-12">
                    <h4>{% trans "Filters" %}</h4>

                        <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                        <a href="{% url 'bazaar:product-list' %}" class="btn{% if query_filter %} btn-primary{% else %} btn-default{% endif %}"
                                {% if not query_filter %} disabled="disabled" {% endif %}>{% trans "Reset" %}</a>
                        {% crispy product_filter.form %}
                        <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                        <a href="{% url 'bazaar:product-list' %}" class="btn{% if query_filter %} btn-primary{% else %} btn-default{% endif %}"
                                {% if not query_filter %} disabled="disabled" {% endif %}>{% trans "Reset" %}</a>
                        {% block sidebar-elements %}
                        {% endblock sidebar-elements %}
                        {% block sidebar-extras %}
                        {% endblock sidebar-extras %}

                    </div>
                </form>
            </div>
            {% endblock filter_column %}
        </div>
    </div>


{% endblock content %}