{% extends "bazaar/goods/base.html" %}

{% load i18n %}

{% block stylesheets %}
    {{ block.super }}
    <style>
        .product-actions {
            margin-bottom: 15px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    {% block buttons_holder %}
        <div class="product-actions row">
            <div class="col-md-12">
                <a href="{% url "bazaar:product-list" %}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>&nbsp;{% trans "Back" %}
                </a>
                <a href="{% url 'bazaar:product-update' product.id %}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;{% trans "Modify" %}
                </a>
                <div class="pull-right">
                    {% if not deletable %}
                    {% block disabled_delete_button %}
                        <a data-toggle="modal" href="#modalDelete" class="btn btn-danger disabled">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;{% trans "Can't delete a product that was published at least once" %}
                        </a>
                    {% endblock disabled_delete_button %}
                    {% else %}
                    <a data-toggle="modal" href="#modalDelete" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>&nbsp;{% trans "Delete" %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block header_row %}
        <div class="row">
            {% block product_image %}
                {% if product.photo %}
                    <div class="col-md-2">
                        <a href="{{ product.photo.url }}"><img src="{{ product.photo.url }}" class="img-thumbnail" width="100%"></a>
                    </div>
                {% endif %}
            {% endblock %}
            {% block product_title %}
                <div class="col-md-10">
                    <h3>{{ product.name }}</h3><br/>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block detail_row %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            {% trans "EAN" %}
                        </th>
                        <th>{% trans "Code" %}</th>
                        <th>
                            {% trans "Stock" %}
                        </th>
                        <th>
                            {% trans "Cost" %}
                        </th>
                        <th>
                            {% trans "Price" %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{ product.ean|default:'--' }}
                        </td>
                        <td>
                            {{ product.code|default:'--' }}
                        </td>
                        {% if product.quantity != None %}
                        <td>
                            {{ product.quantity|floatformat }}
                        </td>
                        {% else %}
                        <td>
                            --
                        </td>
                        {% endif %}
                        <td>
                            {{ product.cost.amount|floatformat:2 }} &euro;
                        </td>
                        <td>
                            {{ product.price.amount|floatformat:2 }} &euro;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}

    {% block detail_listing_row %}
        <div class="row">
             <div class="col-md-12">
             <table class="table table-striped table-bordered">
                 <thead>
                    <tr>
                     <th>{% trans "listing title"|title %}</th>
                     <th>{% trans "SKU" %}</th>
                    </tr>
                 </thead>
                 <tbody>
                 {% for listing in product.listings.all %}
                     <tr>
                         <td>
                            <a href="{% url "bazaar:listings-detail" listing.pk %}" class="ellipsify-content" title="{{ listing.title }}">{{ listing.title }}</a>
                         </td>
                         <td>
                             <span class="ellipsify-content" title="{{ listing.sku }}">{{ listing.sku }}</span>
                         </td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>
             </div>
        </div>
    {% endblock %}

    {% block description %}
        {% if product.description %}
        <div class="row">
            <div class="col-md-12 bio">
                <h4>{%  trans "description"|title %}:</h4>
                {% if product.description|length > 30 %}
                    {% autoescape off %}{{ product.description }}{% endautoescape %}
                {% else %}
                    <p>{{ product.description }}</p>
                {% endif %}
            </div>
        </div>
        {% else %}
            {% trans "No available description" %}
        {% endif %}
    {% endblock %}

    <!-- modalDelete -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% block modal_content %}
                <div class="modal-header">
                    <h3>{% trans "Confirm Delete " %}{{ product.name }}</h3>
                </div>
                <div class="modal-body">
                    <form class="form-inline" method="POST" action="{% url 'bazaar:product-delete' product.id %}">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        {% csrf_token %}<button type="submit" value="DELETE" class="btn btn-danger">{% trans "Delete" %}</button>
                    </form>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- end modalDelete -->

{% endblock content %}
