{% load i18n %}

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            {% trans "Product name" %}
        </th>
        <th>
            {% trans "Quantity" %}
        </th>
        <th>
            {% trans "Product price" %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for product_set in listing.product.product_sets.all %}
            <tr>
                <td>
                    {{ listing.product.name }}
                    <table>
                    {%  if listing.product.compositeproduct %}
                        {% for product_set in listing.product.compositeproduct.product_sets.all %}
                            <tr>
                                <td>
                                    {{ product_set.product.name }}
                                </td>
                                <td>
                                    {{ product_set.quantity|floatformat:0 }}
                                </td>
                                <td>
                                    {{  product_set.product.price|floatformat:2 }}
                                </td>
                            </tr>

                        {% endfor %}
                    {% endif %}
                    </table>
                </td>
                <td>
                    {{ listing.quantity|floatformat:0 }}
                </td>
                <td>
                    {{  listing.product.price|floatformat:2 }}
                </td>
            </tr>

        {% endfor %}

    </tbody>
</table>