{% load i18n %}
{% load bazaar_list %}
{%  if listing.product.compositeproduct %}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>
                {% trans "Composite product name" %}
            </th>
            <th>
                {% trans "Quantity" %}
            </th>
            <th>
                {% trans "Product price" %}
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="{% url 'product-detail' listing.product.id %}">{{ listing.product.name }}</a>
                </td>
                <td>
                    {{ listing.available_units|floatformat:0 }}
                </td>
                <td>
                    {{  listing.product.price.amount|floatformat:2 }} &euro;
                </td>

        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>
                {% trans "Product name" %}
            </th>
            <th>
                {% trans "Multiplier" %}
            </th>
            <th>
                {% trans "Quantity in storage" %}
            </th>
            <th>
                {% trans "Product price" %}
            </th>
        </tr>
        </thead>
        <tbody>
                {% for product_set in listing.product.compositeproduct.product_sets.all %}
                    <tr>
                        <td>
                            <a href="{% url product_set|get_url:'product' product_set.product.id %}">{{ product_set.product.name }}</a>
                        </td>
                        <td>
                            {{ product_set.quantity }}{% trans "x" %}
                        </td>
                        <td>
                            {{ product_set.product.quantity|floatformat:0 }}
                        </td>
                        <td>
                            {{ product_set.product.price.amount|floatformat:2 }} &euro;
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% else %}
        <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>
                {% trans "Product name" %}
            </th>
            <th>
                {% trans "Quantity" %}
            </th>
            <th>
                {% trans "Product price" %}
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                        <a href="{% url listing|get_url:'product' listing.product.id %}">{{ listing.product.name }}</a>
                </td>
                <td>
                    {{ listing.available_units|floatformat:0 }}
                </td>
                <td>
                    {{  listing.product.price|floatformat:2 }}
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}
