{% extends "bazaar/listings/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    {{ block.super }}

    <style>
        .bazaar-sidebar.affix {
            margin-right: 15px;
        }
        .modal-large {
            width: 1000px;
        }
        .listing-detail {
            margin-top: 10px;
        }
        .listing-item {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .listing-striped {
            margin-left: 15px;
            margin-right: 15px;
        }
        .listing-striped>.listing-item:nth-child(odd) {
            background-color: #f9f9f9;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>{% trans "Listings" %}</h2>
            <div class="listing-striped">
                {% include "bazaar/listings/listing_list_items.html" %}
            </div>

            <p>{% blocktrans with listings_count=paginator.count %}There are {{ listings_count }} listings{% endblocktrans %}</p>

            {% include "bazaar/paginator.html" %}
        </div>
        {% block sidebar %}
            <div class="col-md-2">
                <div class="row bazaar-sidebar" data-spy="affix">
                    {% block sidebar-elements %}
                        <div class="col-md-12">
                            <h4>{% trans "Filters" %}</h4>
                            <form method="get">
                                {% crispy listing_filter.form %}
                                <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                                <a href="{% url 'listing-list' %}" class="btn{% if query_filter %} btn-primary{% else %} btn-default{% endif %}"
                                {% if not query_filter %} disabled="disabled" {% endif %}>{% trans "Reset" %}</a>
                            </form>

                        </div>
                    {% endblock sidebar-elements %}
                </div>

                {% block sidebar-extras %}{% endblock sidebar-extras %}
            </div>
        {% endblock sidebar %}
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static "js/echo.min.js" %}"></script>
    <script>
        $(document).ready(function() {
            $("[data-toggle=popover]").popover();

            Echo.init();
        });
    </script>
{% endblock %}