{% extends "bazaar/listings/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}

    <style>
        .modal-large {
            width: 1000px;
        }
        .listing-detail {
            margin-top: 10px;
        }
        .listing-item {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .listing-striped {
            margin-left: 15px;
            margin-right: 15px;
        }
        .listing-striped>.listing-item:nth-child(odd) {
            background-color: #f9f9f9;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>{% trans "Listings" %}</h2>
            <div class="listing-striped">
                {% for listing in listing_list %}
                    <div class="row listing-item">
                        <div class="col-md-12 listing-header">
                            <div class="row">
                                {% if listing.picture_url %}
                                    <div class="col-md-1">
                                        <img src="" data-echo="{{ listing.picture_url }}" class="img-thumbnail img-responsive">
                                    </div>
                                {% endif %}
                                <div class="col-md-6">
                                    <a data-toggle="collapse" href="#listing{{ listing.id }}">
                                        <h5>{{ listing.title }}</h5>
                                    </a>
                                    {% if listing.description|length > 30 %}
                                        <a data-toggle="modal" data-target="#modalListing{{ listing.id }}">
                                            See full description
                                        </a>

                                        <div id="modalListing{{ listing.id }}" class="modal fade">
                                            <div class="modal-dialog modal-large">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        {% autoescape off %}{{ listing.description }}{% endautoescape %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    {% else %}
                                        <p>{{ listing.description }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>{% trans "Published on" %}</th>
                                            <th>{% trans "Price" %}</th>
                                            <th>{% trans "Available units" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for publishing in listing.publishings.all %}
                                            <tr>
                                                <td>{{ publishing.store }}</td>
                                                <td>{{ publishing.price }}</td>
                                                <td>{{ publishing.available_units }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="listing{{ listing.id }}" class="collapse listing-detail">
                            <div class="col-md-5">
                                {% trans "Products:" %}
                                {% for ls in listing.listing_sets.all %}
                                    <a>
                                        {{ ls.product }}{% if ls.quantity > 1 %} <small>x{{ ls.quantity|floatformat:0 }}</small>{% endif %}
                                    </a>
                                    {% if not forloop.last %} - {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

            <p>{% blocktrans with listings_count=paginator.count %}There are {{ listings_count }} listings{% endblocktrans %}</p>

            {% include "bazaar/paginator.html" %}
        </div>
        {% block sidebar %}
            <div class="col-md-2">
                <div class="row" data-spy="affix">
                    {% block sidebar-elements %}
                        <div class="col-md-12">
                            <h4>Filters</h4>
                        </div>
                    {% endblock sidebar-elements %}
                </div>

                {% block sidebar-extras %}{% endblock sidebar-extras %}
            </div>
        {% endblock sidebar %}
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}

    <script src="{% static "js/echo.min.js" %}"></script>
    <script>
        $(document).ready(function() {
            $("[data-toggle=popover]").popover();

            Echo.init();
        });
    </script>
{% endblock %}